# Copy to secrets.auto.tfvars and adjust per environment

aws_region = "eu-north-1"

db_password                   = "master-password-prod"
pipeline_source_repo          = "StarUP-Solutions/sbl-backend"
codestar_connection_arn       = "arn:aws:codeconnections:<region>:<account-id>:connection/<id>"
pipeline_artifact_bucket_name = "shuli-prod-artifacts-<unique-suffix>"
eb_solution_stack_name        = "64bit Amazon Linux 2023 v4.13.3 running Python 3.12"
